body {background-color: #DBFCFF; font-family: Verdana, Arial;  font-size: 22px;}
#content {max-width: 1600px; margin: 0 auto;}
nav {text-align: center; background-color: #41658A;}
a {text-align: center;}
#hero-msg h1 {text-align: center; font-family: Verdana, Arial;}
#hero-msg h4 {text-align: center; font-family: Verdana, Arial;}
.button-box {text-align: center;}
main {text-align: center;}
section {text-align: center;}
#background {height: 725px;}
header {background-color: #41658A;}
a:hover {background-color: #A6CFD5;}
.book {background-color:#DBFCFF; color: #41658A; text-decoration: none; font-size: 1.8em;}
.join {background-color: #DBFCFF; color: #41658A; text-decoration: none; font-size: 1.8em;}
.book:hover {background-color: #41658A; color: #DBFCFF;}
.join:hover {background-color: #41658A; color: #DBFCFF;}
#background {background-color: #322214;}
.msg {background-color: #A6CFD5;font-family: Verdana, Arial;}
footer {background-color: #41658A;}
nav a {color: #A6CFD5; text-decoration: none;}
nav a:hover {color: #322214;}
.home-title {color: #070707; font-family: Brush Script MT, Verdana, Arial; font-size: 2em;}
h4 {color: #070707;}
.msg h2 {color:#41658A; font-family: Verdana, Arial; font-size: 1.6em;}
.msg p {color: #070707; font-family: Verdana, Arial; font-size: .8em;}
footer {color: #322214;}
footer a {color: #A6CFD5; text-decoration: none;}
footer a:hover {color: #41658A;}
.logo {width: 80px;}
.icon {width: 80px;}
#hero-img {width:100%;}
footer p{font-size: 1.2em; font-family: Verdana, Arial;}
footer p a:hover{text-decoration: underline;}
